/* Reset and Layout */
 /* * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  } */ */

  .view-commets {
    margin-top: 40px;
  } 

  
  body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #e9e2e2;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  } 
  
  .home_background_container-signup {
    height: 200px;
  }
  .home_content-signup {
    margin-bottom: 0;
    bottom: 20%
    


  }


  .flash {
    padding: 12px 20px;
    margin: 10px auto;
    max-width: 700px;
    text-align: center;
    border-radius: 6px;
    font-weight: bold;
    font-size: 16px;
  }
  
  .flash.success {
    background-color: #28a745;
    color: white;
  }
  
  .flash.error {
    background-color: #D10024;
    color: white;
  }
  


  /* Container */
  .form-container {
    width: 100%;
    max-width: 420px;
    background-color: #1e1e1e;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(255, 215, 0, 0.3);
    text-align: center;
    margin: auto;
    margin-bottom: 30px;
    margin-top: 10px;
  }
  
  /* Title */
  h2 {
    text-align: center;
    margin-bottom: 25px;
    color: #ffb606;
  }
  
  /* Form Inputs */
  form input,
  form select,
  form button {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
  }
  
  /* Input Fields */
  form input,
  form select {
    background-color: #2c2c2c;
    color: #fff;
    border: 1px solid #555;
  }
  
  form input::placeholder {
    color: #aaa;
  }
  
  /* Submit Button */
  form button {
    background-color: #ffb606;
    color: #2c2c2c;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s ease;
  }
  
  form button:hover {
    background-color: #e6c200;
  }
  
  /* Text Links */
  form p {
    text-align: center;
    font-size: 14px;
  }
  
  form a {
    color: #FFD700;
    text-decoration: none;
  }
  
  form a:hover {
    text-decoration: underline;
  }

  .login-button {
    margin-top: 25px
  }

  .role-select {
    margin-top: 15px;
  }
  
  /* Responsive */
  @media (max-width: 480px) {
    .container {
      padding: 20px;
      margin: 10px;
    }
  
    form input,
    form select,
    form button {
      font-size: 14px;
    }
  }
  